# Entorno
ENV=development

# Rutas base (puedes dejar por defecto)
RAW_DATA_DIR=./data/Raw
PROCESSED_DATA_DIR=./data/processed
CLEAN_DATA_DIR=./data/clean

# Preprocesamiento
# true/false (1/0, yes/no también válidos)
NORMALIZE_TO_ASCII=true
